Repository ItsMeWithTheFace/teleport, changes with the owners that .github/CODEOWNERS names for each.
All owners: @klizhentas, @russjones, @webvictim, @awly, @benarent, @fspmarshall, @alex-kovoy, @kimlisa

docs: refactor, validate, edit docker
  docs/config.json
  docs/pages/installation.mdx
  docs/pages/kubernetes-access/helm/reference.mdx
  docs/pages/setup/guides.mdx
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

docs: few improvements
  docs/pages/setup/guides.mdx
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

docs: edits
  docs/pages/setup/guides.mdx
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

docs: improve node language
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

Add Cloud SQL MySQL support
  lib/auth/permissions.go
  lib/defaults/defaults.go
  lib/service/cfg.go
  lib/service/cfg_test.go
  lib/services/semaphore.go
  lib/srv/db/access_test.go
  lib/srv/db/auth_test.go
  lib/srv/db/common/auth.go
  lib/srv/db/mysql/engine.go
  lib/srv/db/mysql/proxy.go
  lib/srv/db/server.go
  lib/utils/retry.go
  vendor/google.golang.org/api/sqladmin/v1beta4/sqladmin-api.json
  vendor/google.golang.org/api/sqladmin/v1beta4/sqladmin-gen.go
  vendor/modules.txt
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

server side filtering
  lib/events/dynamoevents/dynamoevents.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

Remove SetTTL methods in favor of SetExpiry.
  api/types/access_request.go
  api/types/authentication.go
  api/types/authority.go
  api/types/clusterconfig.go
  api/types/clustername.go
  api/types/databaseserver.go
  api/types/github.go
  api/types/license.go
  api/types/namespace.go
  api/types/networking.go
  api/types/oidc.go
  api/types/plugin_data.go
  api/types/provisioning.go
  api/types/remotecluster.go
  api/types/resetpasswordtoken.go
  api/types/resetpasswordtokensecrets.go
  api/types/resource.go
  api/types/role.go
  api/types/saml.go
  api/types/semaphore.go
  api/types/server.go
  api/types/session.go
  api/types/sessionrecording.go
  api/types/statictokens.go
  api/types/trustedcluster.go
  api/types/tunnel.go
  api/types/tunnelconn.go
  api/types/user.go
  lib/auth/github.go
  lib/services/identity.go
  lib/services/parser.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

docs: combine articles
  docs/config.json
  docs/img/server-access/api.svg
  docs/img/server-access/bastion-pattern.svg
  docs/pages/access-controls/guides/identity-management.mdx
  docs/pages/access-controls/sso-access.mdx
  docs/pages/server-access/architecture.mdx
  docs/pages/server-access/guides/enhanced-session-recording.mdx
  docs/pages/server-access/guides/resource-catalog.mdx
Owners: @klizhentas, @benarent, @webvictim

docs: moving section to ssh doc
  docs/pages/server-access/architecture.mdx
Owners: @klizhentas, @benarent, @webvictim

docs: improved further
  docs/pages/features/enhanced-session-recording.mdx
Owners: @klizhentas, @benarent, @webvictim

Resolve comments
  api/types/namespace.go
  api/types/resetpasswordtokensecrets.go
  api/types/server.go
  api/types/statictokens.go
  api/types/tunnel.go
  integration/app_integration_test.go
  integration/db_integration_test.go
  integration/helpers.go
  integration/integration_test.go
  integration/kube_integration_test.go
  lib/auth/init.go
  lib/reversetunnel/rc_manager_test.go
  lib/services/authority.go
  tool/tctl/common/auth_command_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

docs: tsh for docker added
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

docs: install and cleanup
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

limit responses to 1MiB backend data
  lib/events/dynamoevents/dynamoevents.go
  lib/events/filelog.go
  lib/events/firestoreevents/firestoreevents.go
  lib/events/sizelimit.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

docs: improve cleanup step
  docs/pages/setup/guides/local-docker.mdx
Owners: @klizhentas, @benarent, @webvictim

feedback
  lib/events/dynamoevents/dynamoevents.go
  lib/events/filelog.go
  lib/events/firestoreevents/firestoreevents.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

RFD XX: Session Locking
  rfd/00XX-session-locking.md
Owners: @klizhentas, @benarent, @webvictim

Add go-diceware lib to vendor directory
  go.mod
  go.sum
  vendor/github.com/sethvargo/go-diceware/LICENSE
  vendor/github.com/sethvargo/go-diceware/diceware/generate.go
  vendor/github.com/sethvargo/go-diceware/diceware/interface.go
  vendor/github.com/sethvargo/go-diceware/diceware/mock.go
  vendor/github.com/sethvargo/go-diceware/diceware/word_list.go
  vendor/github.com/sethvargo/go-diceware/diceware/word_list_eff_large.go
  vendor/github.com/sethvargo/go-diceware/diceware/word_list_eff_small.go
  vendor/github.com/sethvargo/go-diceware/diceware/word_list_original.go
  vendor/modules.txt
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

add template rfd
  rfd/0035-aws-node-join.md
Owners: @klizhentas, @benarent, @webvictim

first draft
  rfd/0035-aws-node-join.md
Owners: @klizhentas, @benarent, @webvictim

mention vault and alternative ec2 method
  rfd/0035-aws-node-join.md
Owners: @klizhentas, @benarent, @webvictim

Better handle database access HA scenario
  api/types/databaseserver.go
  lib/reversetunnel/fake.go
  lib/srv/db/access_test.go
  lib/srv/db/ha_test.go
  lib/srv/db/proxyserver.go
  tool/tsh/db.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

stash
  api/client/client.go
  api/client/proto/authservice.pb.go
  api/client/proto/authservice.proto
  api/types/accountrecovery.go
  api/types/constants.go
  api/types/events/events.pb.go
  api/types/events/events.proto
  api/types/events/oneof.go
  api/types/types.pb.go
  api/types/types.proto
  api/types/user.go
  lib/auth/apiserver.go
  lib/auth/auth_with_roles.go
  lib/auth/clt.go
  lib/auth/grpcserver.go
  lib/auth/password.go
  lib/auth/resetpasswordtoken.go
  lib/events/api.go
  lib/events/codes.go
  lib/events/dynamic.go
  lib/services/identity.go
  lib/services/local/users.go
  lib/web/apiserver.go
  lib/web/ui/webconfig.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly, @alex-kovoy, @kimlisa

Add tests for default constructors.
  api/types/types_test.go
  lib/services/role_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

hsm: migrate CA storage schema
  api/types/authority.go
  api/types/types.pb.go
  api/types/types.proto
  integration/helpers.go
  integration/integration_test.go
  integration/kube_integration_test.go
  lib/auth/auth.go
  lib/auth/auth_test.go
  lib/auth/db.go
  lib/auth/init.go
  lib/auth/init_test.go
  lib/auth/kube.go
  lib/auth/methods.go
  lib/auth/middleware.go
  lib/auth/rotate.go
  lib/auth/saml_test.go
  lib/auth/tls_test.go
  lib/auth/trustedcluster.go
  lib/config/configuration.go
  lib/config/configuration_test.go
  lib/config/fileconf.go
  lib/config/testdata_test.go
  lib/fixtures/fixtures.go
  lib/kube/proxy/forwarder_test.go
  lib/kube/proxy/server_test.go
  lib/reversetunnel/remotesite.go
  lib/reversetunnel/srv_test.go
  lib/services/authority.go
  lib/services/authority_test.go
  lib/services/suite/suite.go
  lib/srv/db/access_test.go
  lib/sshutils/authority.go
  lib/tlsca/ca.go
  lib/tlsca/ca_test.go
  lib/web/apiserver.go
  tool/tctl/common/auth_command.go
  tool/tctl/common/auth_command_test.go
  tool/tctl/common/collection.go
  tool/tsh/resolve_default_addr_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly, @alex-kovoy, @kimlisa

Address review feedback
  api/types/authority.go
  lib/auth/auth.go
  lib/auth/init.go
  lib/services/authority.go
  lib/sshutils/authority.go
  rfd/0025-hsm.md
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly, @benarent

Clarify node connection debug logs. (#6722)
  lib/service/connect.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @awly

.github/CODEOWNERS:

# Default owners for items not matched below.
* @klizhentas @russjones

# Release Engineering.
/assets/ @klizhentas @webvictim @russjones @awly
/build.assets/ @klizhentas @webvictim @russjones @awly
/docker/ @klizhentas @webvictim @russjones @awly
/examples/ @klizhentas @webvictim @russjones @awly
/vagrant/ @klizhentas @webvictim @russjones @awly
.drone.yml @klizhentas @webvictim @russjones @awly
.gitattributes @klizhentas @webvictim @russjones @awly
.gitignore @klizhentas @webvictim @russjones @awly
.gitmodules @klizhentas @webvictim @russjones @awly
Makefile @klizhentas @webvictim @russjones @awly

# Product.
*.md @klizhentas @benarent @webvictim
/docs/ @klizhentas @benarent @webvictim

# Backend Engineering.
/*.go @klizhentas @russjones @fspmarshall @webvictim @awly
/e/ @klizhentas @russjones @fspmarshall @webvictim @awly
/fixtures/ @klizhentas @russjones @fspmarshall @webvictim @awly
/integration/ @klizhentas @russjones @fspmarshall @webvictim @awly
/lib/ @klizhentas @russjones @fspmarshall @webvictim @awly
/modules/ @klizhentas @russjones @fspmarshall @webvictim @awly
/tool/ @klizhentas @russjones @fspmarshall @webvictim @awly
/vendor/ @klizhentas @russjones @fspmarshall @webvictim @awly
go.mod @klizhentas @russjones @fspmarshall @webvictim @awly
go.sum @klizhentas @russjones @fspmarshall @webvictim @awly

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @fspmarshall @webvictim @awly @kimlisa
/webassets/ @alex-kovoy @kimlisa
